body {
    background: url('assets\images\oriental-tiles.png');
    background-size: cover;
    color: #77777
   }

#DanPhoto {
    width: 40%;
    float: left;
    margin: 20px;
}

.clearfix {
    overflow: auto;
}
.heading {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color:  #4aaaa5;
}

.navbar-brand {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px;
}

.container .card {
    max-width: 960px;
}
