body {
    background: url(../images/white-waves.png);
    background-repeat: repeat;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-color: #dddddd;
   }
a {
    font-weight: bold;
}

footer {
    background-color: #666666;
}

.heading {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color:  #4aaaa5;
    font-weight: bold;
    padding: 0px 20px;
    border-color: #cccccc;
}

.danFont {
    color: #ffffff;
    font-weight: bold;
}
.navbar-brand {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    padding: 0px 25px;
}

.container .card {
    max-width: 960px;
    margin-top: 50px;
    margin-bottom: 100px;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    color: #777777;
  } 
.form-group {
    border-color:  #777777;
}

label {
    color: black;
}

.btn {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    color: #ffffff;
}
.btn:hover {
    background-color:  #ffffff;
    border-color:  #777777;
    color: #4aaaa5;
}
@media only screen and (max-width: 575px){

   .photo {
        width: 80%;
        display:block;
        float: none;
        margin:0 auto 20px;
    }
}

@media only screen and (min-width: 576px){

    .photo {
        width: 50%;
        float: left;
        margin: 10px 20px 10px 10px;
    }
    .clearfix {
        overflow: auto;    
    }
}

@media only screen and (min-width: 768px){


    .photo {
        width: 40%;
        float: left;
        margin: 10px 20px 10px 10px;
    }

    .clearfix {
        overflow: auto;
    }

}

@media only screen and (min-width: 992px){
    
    .photo {
        width: 40%;
        float: left;
        margin: 10px 20px 10px 10px;
    }
    
    .clearfix {
        overflow: auto;
    }
    
}
